.buttonbox {
    width: 100vw;
    position: relative;
  
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8ffff8 !important;
}
.body{
	font-size: 66px;
}
a[href*="reports"] {background-color: #CCCCCC;}

table, th, td {
				border: 1px solid black;
				margin: 10px;
				padding: 10px;
			}
.about_us{
	float: right;
}

h2 > a {
	text-decoration: none;
	color: green;
}


