* {
	margin: 0;
	padding: 0;
}
.buttonbox {
	width: 100vw;
	position: relative;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #8ffff8 !important;
}


a[href*="reports"] {background-color: #CCCCCC;}

table, th, td {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}

.about_us{
	float: right;
}

h2 > a {
	text-decoration: none;
	color: green;
}

.center {
	margin: auto;
	width: 75%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	background-color: #F0F0F0;
}

b+i{
	color: green;
}

#img_about{
	width: 600px; 
	border-radius: 1%;
}

.list1 {
	list-style-image: linear-gradient(to left bottom, rgb(29, 150, 75), rgb(174, 201, 22));
  }