body{
	text-align: center;
	font-size: 50px;
}
.layout{
	width: 100%;
}
.row1{
	background-color: blue;
	height: 100px;
}
.row2{
	height: 500px;
}
.col1{
	background-color: yellow;
	width: 30%;
}
.col2{
	width: 40%;
}
.col3{
	background-color: yellow;
	width: 30%;
}

