[info] .tooltip {
	position: fixed;
	padding: 3px;
	background: white;
	border: 1px solid #ccc;
	visibility: hidden;
	opacity: 0;
	max-width: 200px;
	margin: auto;
}

[info]:hover .tooltip {
	visibility: visible;
	opacity: 1;
}

[info] {
	text-decoration: underline; 
	text-decoration-color: #00000040;
}